* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-color: #00205b;
    --secondary-font-color: #97d700;
}

.header {
    position: sticky;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 45px 0px rgb(150, 148, 148);
    -moz-box-shadow: 0px 2px 45px 0px rgb(150, 148, 148);
    box-shadow: 0px 2px 45px 0px rgb(150, 148, 148);
    z-index: 1;
}

.header ul .menu {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}

.header .icons,
.menus {
    cursor: pointer;
    float: right;
    color: var(--primary-font-color);
    font-size: 15px;
    font-weight: 500;
}

.header .icons .fa-brands {
    padding: 10px;
}

.contact-btn {
    outline: none;
    border: none;
    background: var(--secondary-font-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
}

.header .dropdown-toggle {
    white-space: nowrap;
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
    color: var(--primary-font-color);
}

.header .dropdown-menu.show {
    display: block;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 5px 0px;
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 0 10px;
}

.hamburger-menu span {
    display: flex;
    height: 2px;
    margin: 2px;
    padding: 0;
    background-color: var(--primary-font-color);
}

.hamburger-menu :nth-child(1) {
    width: 25px;
}

.hamburger-menu :nth-child(2) {
    width: 20px;
}

.hamburger-menu :nth-child(3) {
    width: 23px;
}

.header .mobile-menu .flex {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    top: -20px;
    position: relative;
}

.overlay .closebtn {
    font-size: 30px;
    color: var(--primary-font-color);
    font-weight: 300;
}

.search-box {
    border-bottom: 1px solid var(--primary-font-color);
    margin: 40px 0px 0px 15px;
}

.search-box input {
    border: none;
    outline: none;
}

.search-box input::placeholder {
    font-size: 14px;
    color: #b8b8b8;
}

.search-box .fa-magnifying-glass {
    color: rgb(185, 185, 185);
    padding: 0 10px 0 0;
}

.search-btn {
    outline: none;
    border: none;
    background: var(--primary-font-color);
    color: #93e436;
    padding: 8px 20px;
    border-radius: 40px;
    font-size: 12px;
    margin: 10px 20px;
}

.banner {
    /* background-image: url(./assets/banner.jpg); */
    background-color: #4685ac;
    background-size: cover;
    height: 80vh;
    background-position: center;
}

.banner .title {
    margin-top: 30vh;
    color: #fff;
    letter-spacing: 1px;
    font-size: 45px;
}

.ahd {
    background-color: #f3f3f3;
    padding: 100px 0;
}

.ahd img {
    border-radius: 20px;
}

.ahd .title {
    color: var(--primary-font-color);
}

.ahd .title span {
    color: var(--secondary-font-color);
}

.ahd .para {
    color: rgb(73, 73, 73);
    font-weight: 500;
    font-size: 18px;
}

.ahd .sub-para {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 400;
}

.ahd strong {
    color: rgb(73, 73, 73);
    font-size: 15px;
}

.ahd .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: var(--primary-font-color);
    color: var(--secondary-font-color);
    background-size: 400%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 0;
}

.ahd .button:hover {
    color: var(--primary-font-color);
    font-weight: 500;
}

.ahd .button:hover::before {
    transform: scaleX(1);
}

.ahd .button-content {
    position: relative;
    z-index: 1;
}

.ahd .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: var(--secondary-font-color);
    transition: all 0.475s;
}

.ahd .br-1 {
    display: none;
}

.health-essentials {
    padding: 100px 0;
}

.health-essentials .image {
    border-radius: 20px;
}

.health-essentials .inner {
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    margin: 10px 0;
    padding: 15px;
    height: 98px;
}

.health-essentials .inner .flex {
    display: flex;
    justify-content: space-around;
}

.health-essentials .inner .flex .para {
    font-weight: 500;
    font-size: 15px;
    color: #535353;
}

.devices {
    border-radius: 50%;
    padding: 15px;
}

.health-essentials .inner .flex img {
    width: 33px;
}

.health-essentials .title {
    color: var(--primary-font-color);
    font-size: 48px;
}

.health-essentials .title span {
    color: var(--secondary-font-color);
}

.health-essentials .para {
    font-size: 15px;
    font-weight: 500;
    color: #535353;
}

.device-1 {
    background: var(--primary-font-color);
}

.device-2 {
    background: var(--secondary-font-color);
}

footer {
    padding: 50px 0;
    background-color: var(--primary-font-color);
    color: #d8d8d8;
}

footer .menu ul {
    list-style: none;
    display: inline-flex;
    font-size: 14px;
    cursor: pointer;
}

footer .menu ul li {
    margin: 0 47px 0 0;
}

footer .menu ul li:last-child {
    margin: 0px;
}

footer .menu ul li:hover {
    border-bottom: 1px solid;
    color: var(--secondary-font-color);
}

footer .menu {
    display: flex;
    justify-content: end;
}

footer .hr {
    color: #969696;
    margin: 35px 0;
}

footer img {
    height: 60px;
}

footer .title {
    font-size: 23px;
    font-weight: 400;
}

footer .para {
    font-size: 15px;
    font-weight: 400;
    color: #a8bce1;
    width: 250px;
    margin: 20px 0;
    display: block;
    text-decoration: none;
}

.email-icon {
    height: 22px;
}

footer .email-or-phone {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: #e9e9e9;
    font-size: 15px;
}

footer small {
    font-size: 12px;
}

footer .socials ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

footer .socials ul li {
    margin: 0 20px 0 0;
}

footer .socials .fa-brands {
    color: var(--secondary-font-color);
    cursor: pointer;
}


footer .socials ul li:last-child {
    margin: 0 0 0 0;
}

.slider-sec {
    padding: 100px 0;
    overflow: hidden !important;
}

.slick-slider {
    overflow: hidden !important;
}

.slick-slider img {
    width: 100%;
    padding: 10px;
}

.menu-mobile {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin: 15px 0 0 !important;
}

.menu-mobile li {
    padding: 0 15px;
    font-size: 13px;
}

.menu-mobile li {
    padding: 0 15px;
    font-size: 13px;
}

@media (min-width: 700px) {
    footer .menu-mobile, .quick-link-mobile {
        display: none !important;
    }
}

@media (max-width:800px) {

    .header .icons,
    .menus {
        font-size: 12px;
    }

    .header ul .menu {
        list-style: none;
        display: inline-flex;
        padding: 7px;
    }

    .ahd {
        padding: 0;
    }

    .ahd-banner {
        padding: 40px 0 0;
    }

    .ahd-banner img {
        width: 100%;
    }

    .ahd br {
        display: none;
    }

    .health-essentials {
        padding: 80px 0 45px;
    }

    .health-essentials .image {
        width: 100%;
    }

    .health-essentials .title {
        font-size: 35px;
    }

    footer img {
        height: 50px;
    }

    .slider-sec{
        padding: 45px 0;
    }
}


@media (max-width:500px) {
    .banner .title {
        margin-top: 50vh;
        font-size: 35px;
    }

    .banner .para {
        font-size: 14px;
    }

    .br-1 {
        display: block !important;
    }

    .ahd{
        padding-bottom: 60px;
    }

    .ahd .title {
        font-size: 30px;
    }

    .ahd-banner {
        display: none;
    }

    .ahd .find-us {
        font-size: 13px;
    }

    .ahd .para {
        font-size: 16px;
    }

    .ahd strong {
        font-size: 14px;
    }

    .ahd .sub-para {
        font-size: 15px;
    }

    .health-essentials .inner br {
        display: none;
    }

    footer {
        padding: 20px 0;
        text-align: center;
    }

    footer .bottom {
        text-align: center;
    }

    footer .bottom .socials {
        justify-content: center !important;
        margin-top: 8px;
    }

    footer .hr {
        margin: 20px 0;
    }

    footer .para {
        width: auto;
    }

    .quick-link-mobile {
        text-align: left;
        margin: 20px 0 0 !important;
    }

    .quick-link-title {
        font-size: 15px;
        font-weight: 400;
    }

    #quick-link-mobile-dropdown-items{
        display: none;
    }

}