* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-color: #00205b;
}

.header {
    position: sticky;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 45px 0px rgb(150, 148, 148);
    -moz-box-shadow: 0px 2px 45px 0px rgb(150, 148, 148);
    box-shadow: 0px 2px 45px 0px rgb(150, 148, 148);
}

.header ul .menu {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}

.header .icons,
.menus {
    cursor: pointer;
    float: right;
    color: var(--primary-font-color);
    font-size: 15px;
    font-weight: 500;
}

.header .icons .fa-brands {
    padding: 10px;
}

.contact-btn {
    outline: none;
    border: none;
    background: #97d700;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
}

.header .dropdown-toggle {
    white-space: nowrap;
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
    color: var(--primary-font-color);
}

.header .dropdown-menu.show {
    display: block;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 5px 0px;
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 0 10px;
}

.hamburger-menu span {
    display: flex;
    height: 2px;
    margin: 2px;
    padding: 0;
    background-color: var(--primary-font-color);
}

.hamburger-menu :nth-child(1) {
    width: 25px;
}

.hamburger-menu :nth-child(2) {
    width: 20px;
}

.hamburger-menu :nth-child(3) {
    width: 23px;
}

.header .mobile-menu .flex {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    top: -20px;
    position: relative;
}

.overlay .closebtn {
    font-size: 30px;
    color: var(--primary-font-color);
    font-weight: 300;
}

.search-box {
    border-bottom: 1px solid var(--primary-font-color);
    margin: 40px 0px 0px 15px;
}

.search-box input {
    border: none;
    outline: none;
}

.search-box input::placeholder {
    font-size: 14px;
    color: #b8b8b8;
}

.search-box .fa-magnifying-glass {
    color: rgb(185, 185, 185);
    padding: 0 10px 0 0;
}

.search-btn {
    outline: none;
    border: none;
    background: var(--primary-font-color);
    color: #93e436;
    padding: 8px 20px;
    border-radius: 40px;
    font-size: 12px;
    margin: 10px 20px;
}

.banner {
    /* background-image: url(./assets/banner.jpg); */
    background-color: #4685ac;
    background-size: cover;
    height: 80vh;
    background-position: center;
}

.banner .title {
    margin-top: 30vh;
    color: #fff;
    letter-spacing: 1px;
    font-size: 45px;
}

.ahd {
    background-color: #f3f3f3;
    padding: 100px 0;
}

.ahd img {
    border-radius: 20px;
}

.ahd .title {
    color: var(--primary-font-color);
}

.ahd .title span {
    color: #97d700;
}

.ahd .para {
    color: rgb(73, 73, 73);
    font-weight: 500;
    font-size: 18px;
}

.ahd .sub-para {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 400;
}

.ahd strong {
    color: rgb(73, 73, 73);
    font-size: 15px;
}

.ahd .find-us {
    outline: none;
    border: none;
    background: var(--primary-font-color);
    border: var(--primary-font-color);
    padding: 10px 25px;
    border-radius: 20px;
    color: #97d700;
    display: inline-block;
    box-shadow: inset 0 0 0 0 var(--primary-font-color);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.ahd .find-us:hover {
    box-shadow: inset 400px 0 0 0 #97d700;
    color: var(--primary-font-color);
}

@media (max-width:800px) {

    .header .icons,
    .menus {
        font-size: 12px;
    }

    .header ul .menu {
        list-style: none;
        display: inline-flex;
        padding: 7px;
    }

    .ahd {
        padding: 0;
    }

    .ahd-banner {
        padding: 40px 0 0;
    }

    .ahd-banner img {
        width: 100%;
    }

    .ahd br {
        display: none;
    }
}


@media (max-width:500px) {
    .banner .title {
        margin-top: 50vh;
        font-size: 35px;
    }

    .banner .para {
        font-size: 14px;
    }

    .br-1 {
        display: block !important;
    }

    .ahd .title {
        font-size: 30px;
    }

    .ahd-banner {
        display: none;
    }

    .ahd .find-us {
        font-size: 13px;
    }

    .ahd .para {
        font-size: 16px;
    }

    .ahd strong {
        font-size: 14px;
    }

    .ahd .sub-para {
        font-size: 15px;
    }
}